.collapsible {
    background-color: white;
    color:black;
    cursor: pointer;
    padding: 18px;
    width: 20vw;
    border: solid 1px black;
    text-align: left;
    outline: none;
    font-size: 15px;
    position: fixed;
    top:25%;
    left: 2%;
    -webkit-box-shadow: 4px 5px 24px -6px rgba(0,0,0,0.57);
-moz-box-shadow: 4px 5px 24px -6px rgba(0,0,0,0.57);
box-shadow: 4px 5px 24px -6px rgba(0,0,0,0.57);
}

.active, .collapsible:hover {
    background-color: #555;
}

.options {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}