


  @media (max-width: 599px) {
    .media-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5vw;
    max-width: 599px;
    width: 100%;
    margin: 0 auto;
      font-size: calc(12px + 20%);
    img {
      width: 80%;
    }
  }

  .container-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5vw;
    max-width: 599px;
    width: 100%;
    margin: 0 auto;
    overflow: scroll;
      font-size: calc(12px + 20%);


  }



   }



  @media (min-width: 600px) {
  .media-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5vw;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    align: center;
    img {
      width: 80%;
    }
  }

  .container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2vw;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    align: center;

  }

   }



  @media (min-width: 1200px) {
  .media-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3vw;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    font-size: calc(12px + 20%);
    img {
      width: 80%;
    }
  }

  .container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5vw;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    align: center;
      font-size: calc(12px + 20%);

  }

   }
