

.vis {
    background-repeat: no-repeat;
    min-width: 100%;
    width: 100%;
    height: 100%;
}

// .slider-list {
//     min-height: 40%;
// }

@media (min-width: 600px) {
    .carousel {
        width: 100%;
        // height: 40%;
        position: relative;
        left: 17%;
    }
}

@media only screen and (max-width: 599px) {
    .carousel {
        width: 100%;
        height: 100%;
        position: relative;
        left: 1%;
        top: 15%
    }
}