.copy-holder {
  min-height: 200px;
  max-width: 85vw;
}

.first {
    line-height: 110%;
}




@media (min-width: 600px) {
  .wrapword {
    display: flex;
    white-space: -moz-pre-wrap !important;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    white-space: pre-wrap;
    /* css-3 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap;
    /* Newer versions of Chrome/Safari*/
    white-space: normal;
  }
  .flexing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .container > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .image-container {
    width: 300px;
    height: auto;
    margin-top: 3vw;
  }
  .header {
    margin-left: 4vw;
    font-size: calc(15px + 20%);
    color: #f9f9f9;
  }

  .images {
    margin-left: 50%;
    width: 45%;
    height: auto;
    display: block;
    position: relative;
    left: 6%;
    width: 100%;
    top: 2%;
    height: auto;
    min-width: 250px;
    min-height: 100px;
    z-index: 10000000000 !important;
  }
  .portrait {
    min-width: 10%;
    width: 45%;
    position: relative;
    height: auto;
    top: -10vw;
    left: -13vw;
    z-index: 1000000 !important;
  }
  .text {
    pointer-events: none;
    justify-content: start !important;
    // font-family: "Kanit", sans-serif;
    width: 100%;
    position: relative;
    top: 5%;
    display: flex;
    max-width: 95%;
    text-shadow: 1px 4px 3px rgba(0,0,0,0.2);
  }
  .slopeBegin,
  .slopeEnd {
    position: absolute;
    width: 140%;
    height: 100%;
    cursor: pointer;
  }

  .containMe {
    max-width: 90%;
  }
}

// END DESKTOP BP
//
//
// END DESKTOP BP
@media only screen and (max-width: 599px) {
  .container > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
  }
  .wrapword {
    display: flex;
    white-space: -moz-pre-wrap !important;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    white-space: pre-wrap;
    /* css-3 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap;
    /* Newer versions of Chrome/Safari*/
    white-space: normal;
  }

  .header {
    font-size: calc(20px + 40%);
    color: #f9f9f9;
  }
  .images {
    width: 40%;
    height: auto;
    position: relative;
    text-align: center;
    z-index: 1000000 !important;

    width: 100%;
    height: auto;
    top: 20%;
    min-width: 200px;
    min-height: 100px;
  }
  .portrait {
    min-width: 50%;
    top: 15%;
    position: relative;
    height: auto;
    z-index: 1000000 !important;
    align-self: auto;
    text-align: center;
    max-width: 600px;
  }
  .text {
    pointer-events: none;
    top: -18%;
    font-family: "Kanit", sans-serif;

    font-size: calc(20px + 40%);
    position: inherit;
    text-align: center;
    max-width: 80%;
    text-shadow: 1px 4px 3px rgba(0,0,0,0.1);
  }

  .slopeBegin,
  .slopeEnd {
    position: absolute;
    width: 140%;
    height: 100%;
    cursor: pointer;
  }
}

.slopeBegin {
  background-color: #0093b7;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.slopeEnd {
  -webkit-clip-path: polygon(25% 0%, 45% 0, 20% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 45% 0, 20% 100%, 0% 100%);
}

.black {
  background: #005f89;
}

.teal {
  background: linear-gradient(to right, #0093b7 0%, #63cdd7 100%);
  background: -webkit-linear-gradient(right, #0093b7, #63cdd7); // opacity: .75;
}

.greyf {
  background: linear-gradient(to bottom, #a0c5cf 60%, #e6eceb 100%);
  background: -webkit-linear-gradient(bottom, #a0c5cf, #e6eceb);
}

.container {
  background: -webkit-linear-gradient(bottom, #a0c5cf, #63cdd7);
}

.text, .image-container {
  z-index: 100000000;
}
