
.black {
  background: #005f89;
}

.teal {
  background: linear-gradient(to right, #0093b7 0%, #63cdd7 100%);
  background: -webkit-linear-gradient(right, #0093b7, #63cdd7); // opacity: .75;
}

.greyf {
  background: linear-gradient(to bottom, #a0c5cf 60%, #e6eceb 100%);
  background: -webkit-linear-gradient(bottom, #a0c5cf, #e6eceb);
}

.text-resize {
  min-width: 80%;

}


.shadow {
  -webkit-box-shadow: 21px 14px 59px -4px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 21px 14px 59px -4px rgba(0, 0, 0, 0.44);
  box-shadow: 21px 14px 59px -4px rgba(0, 0, 0, 0.44);
}

.image-container-m {
  height: auto;
  z-index: 1000000000 !important;
}

.arrow-img {
  width: 3%;
  min-width: 20px;
}

img {
  cursor: pointer;
}

.nested-img {
  width: 20%;
  z-index: 100000000000000 !important;
}

.to-the-front {
  z-index: 10000000000 !important;
}

.media-container {
  background: radial-gradient(closest-side, transparent, #a0c5cf);
  background: -webkit-radial-gradient(center, transparent, #a0c5cf);
}

// div {
// border: 1px black solid

// }

@media (min-width: 600px) {

  .getBack {
    z-index: -10000000;
  }
  .media-container > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .wrapword {
    display: flex;
    white-space: -moz-pre-wrap !important;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    white-space: pre-wrap;
    /* css-3 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap;
    /* Newer versions of Chrome/Safari*/
    white-space: normal;
  }
  .textm {
    width: 100%;
    line-height: calc(3vw + 10%);
    max-width: 15vw;
    padding-left: 3px;
    min-width: 300px;
    position: relative;
    left: 10%;
    // top: -1%;
    font-size: calc(45px + 20%);
    color: black;
  }
  // .headerm {

  // }

  .circBegin-m {
    width: 100%;
    height: 100%;
    cursor: pointer;
    left: 30%;
    z-index: -1000;
    background-color: #0093b7;
    clip-path: circle(30%);
    -webkit-clip-path: circle(30%);
    overflow: visible;
    position: relative;
  }
  .circEnd-m {
    width: 100%;
    height: 100%;
    overflow: visible;
    position: relative;
    z-index: -1000;
    cursor: pointer;
    clip-path: circle(20%);
    -webkit-clip-path: circle(20%);
    left: 25%;
  }
  .imagesM {

    width: 45%;
    height: auto;
    position: relative;
    left: 45%;
    // top: -5%;
    height: auto;
    min-width: 300px;
    min-height: 100px;
    max-width: 60%;
    z-index: 100000 !important;
  }
  .frame {
    position: relative;
    // left: 23%;
    min-width: 400px;

    z-index: 1000000000 !important;
  }
  .arrow {
    z-index: 1000000 !important;
    position: relative;
    top: 22%;
    width: 3%;
    max-height: 50px;
  }
}

// END DESKTOP BP
//
//
// END DESKTOP BP
@media only screen and (max-width: 599px) {

  .media-container > div > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .textm {
    width: 100%;
    line-height: calc(3vw + 10%);
    max-width: 50%;
    min-width: 40%;
    text-align: center;
    position: relative;
    left: 24%;
    top: 13%;
    font-size: calc(100px + 20%);
    color: black;
    max-height: 200px;
    align-self: center;
    // z-index: 1000000;
  }

  .circEnd-m {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: visible;
    z-index: -1000;
    cursor: pointer;
    -webkit-clip-path: circle(25%);
    overflow: visible;
    position: relative;
    // left: 25%
    clip-path: circle(25%);
    top: -7%;
    display: none;
  }

  .circBegin-m {
    width: 100%;
    height: 100%;
    top: -13%;
    position: relative;
    z-index: -1000;
    background-color: #0093b7;
    overflow: visible;
    position: relative;
    cursor: pointer;
    background-color: #0093b7;
    clip-path: circle(30%);
    -webkit-clip-path: circle(30%);
    overflow: visible;
    position: relative;
    display: none;
  }

  .imagesM {
    width: 45%;
    height: auto;
    position: relative;
    // left: 7%;
    top: -4%;
    height: auto;
    min-width: 400px;
    min-height: 200px;
    text-align: center;
    z-index: 10000000000 !important;
  }
  .nested-img {
    max-width: 50px;
    z-index: 1000000000 !important;
  }
  .frame {
    position: relative;
    left: 25%;
    top: 37%;
    z-index: 1000000000 !important;
    min-width: 400px;
    width: 100%;
    
  }
  .arrow {
    z-index: 1000000 !important;
    position: relative;
    top: 23%;
    width: 3%;
    max-height: 50px;
  }
  p {
    min-width: 200px;
  }
}
