#noScroll {
 overflow: hidden;
 background-color:white;
 position: fixed; /* Set the navbar to fixed position */
 top: 0; /* Position the navbar at the top of the page */
 width: 100%; /* Full width */
 z-index: 100000000 !important;
}

#header {
    height:10%;
    display : flex;
    align-items : center;
      min-height: 50px;
      overflow: hidden;
      position: relative;

}

#twoRedLogo {
  width: 100%;
  max-width: 65%;
  min-width: 35%;
  height: auto;
  align-items : center;
  margin-left: .5em;

}

.siteLink, a {
  margin: 0 .8em 0 .8em;
  text-decoration: none;
  vertical-align: text-bottom;
  cursor: pointer;

}

@media only screen and (max-width: 580px) {
	.siteLink{
    margin: 0 .25em 0 .25em;
    text-decoration: none;
    vertical-align: text-bottom;
	}
}

#header-sroll {
    position:fixed;
    height: 100px;
    background:white;
    left:0;
    top:0;
    float:left;
    width:100%;
    -ms-transition:     all 0.3s ease-out;
    -moz-transition:    all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition:      all 0.3s ease-out;
    transition:         all 0.3s ease-out;
}
#header-sroll h1 {
    font-size: 30px;
    font-family: Arial;
    text-align: left;
    line-height: 50px;
    margin-left: 10px;
     -ms-transition:    all 0.3s ease-out;
    -moz-transition:    all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition:      all 0.3s ease-out;
    transition:         all 0.3s ease-out;
}
#header-sroll.small {
    height: 70px;
    line-height: 35px;
}
#header-sroll.small h1{
    height: 70px;
    line-height: 35px;
    font-size: 25px;
}

#img-head {
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.login {
  align: center;
  vertical-align: middle;

  margin-top: 20%
}

.mastb {
  display:inline;
  font-size: 14pt;
}
